<div>
	
     <h1>Welcome to Your Local Express-O Shop!</h1>
     <img class="img-rounded homephoto" src="http://sergetheconcierge.typepad.com/.a/6a00d8341bf71853ef019aff18adfd970b-pi"/>
     <div class="hometext">
     <p>
      Our Mission is to provide rich, wholesome coffee ingredients and combine them in unique and thoughtful
      ways to come up with new delicious recipes to offer our friends, family and clients.
      Furthermore, we partnered with local shops to offer you some of the most delicious, organic,
      locally made baked goods around.
     <p/>
     </div>
     <div class="bottom">
     <p>
     A cup of coffee in the morning may pack more than just an energy boost.
      More and more research is emerging to suggest that there may be several health 
      benefits associated with drinking this dark black beverage, from helping prevent
       diabetes to lowering the risk of liver disease
     </p>
     </div>

</div>